body {
  margin: 0;
  text-align: center;
  background-color: coral;
}
.app-header{
  height:60px;
  background-color: black;
  color: white;
  width:100%;
}
.app-header h1 {
  padding: 0;
  margin: 0;
}
.app-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 1000px;
  height: 100%;
  
  .app-nav {
    width: 100px;
    background-color: teal;
    
    .nav-item{
      height: 60px;
      background-color: teal;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      &.active-nav{
        background-color: aquamarine;
      }
      
      &:hover{
        background-color: aqua;
      }
    }
  }
  .app-main{
    
    .screen{
      margin-left: 10px;
    }
  }
}
